@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), monospace;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 2000;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: var(--background);
  border-bottom: 1px solid #000000;
}

@media (min-width: 768px) {
  header {
    height: 64px;
  }
}

@media (min-width: 1280px) {
  header {
    padding: 0 60px;
  }
}

header .logo {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
